<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/wall.css">
</head>
<body class="body">
<div class="container" id="app">
    <div class="title">
        表白墙
    </div>
    <div id="danmuku"></div>
    <div class="btn" >
        <button class="btn-quit" onclick="gotoAdd()">表白</button>
        <button class="btn-quit" onclick="reload()">刷新</button>
        <button class="btn-quit" onclick="quit()">退出</button>
    </div>
    <div class="bar" style="margin-top:-50px">
        <div class="confession1">
            <div class="confessionitem" id="confession" onmouseover="stp(this)" onmouseleave="ctn(this)" style="color:aqua">
                <div class="name" v-model="name">{{name}}</div>
                <div class="content" v-model="content">{{ content }}</div>
                <div><button id="commentbtn" class="comment" @click="gotoComment">评论</button></div>
            </div>
        </div>
        <button class="launch" onclick="launch()">发射</button>
    </div>
    <div class="editbox" id="comment">
        <div><textarea v-model="comment" style="height:200px;width:300px;border-radius:10px;z-index: 100;" name="" id="" cols="30" rows="10"></textarea></div>
        <div><button class="btn-comment-submit" @click="submitComment">提交</button></div>
    </div>
</div>
</body>
</html>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.min.js"></script>
<script src="../src/js/link.js"></script>
<script src="../src/js/confession.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    var count = 1;
    function stp(x){
        x.style.animationPlayState = "paused"
        let comment = document.getElementById('commentbtn')
        comment.style.visibility = "visible"
    }
    function ctn(x){
        x.style.animationPlayState = "running"
        let comment = document.getElementById('commentbtn')
        comment.style.visibility = "hidden"
    }
    function config(){
        let wind = $(window)
        let container = document.getElementById('container')
        container.style.width = wind.width()+"px"
        container.style.height = wind.height()+"px"
    }
    function launch()
    {
        let time = 10000 * Math.random() + 1000;
        let position = -200 + 400 * Math.random() + "px";
        let confession = document.getElementById('confession');
        confession.style.top = position;
        confession.style.animationName = "danmuku"
        confession.style.animationDuration = time + "ms";
        confession.style.animationPlayState = "running";
    }
    var vm=new Vue({
        el:'#app',
        data(){
            return{
                comment:"",
                content:"",
                name:"",
                time:"",
                user:""
            }
        },
        created:function(){
            let comment = document.getElementById('comment')
            comment.style.visibility = "hidden"          //不使用vue，使用原生getElementById改变visibility属性
            var url="http://localhost:8080/show"
            // var url="http://1.15.238.18:8080/show"
            $.ajax({
                url:url,
                type:"GET",
                data:"",
                contentType:'application/json',
                success:(data)=>{
                    console.log(data);
                    this.content=data.content;
                    this.name=data.name;
                    this.time=data.time;
                    this.user=data.user;
                }
            })
        },
        methods:{
            submitComment(){
                let url="http://localhost:8080/addComment";
             
                let data={};
                data.comment=this.comment;
                data.uid="1";
                $.ajax({
                    url:url,
                    type:"POST",
                    data:JSON.stringify(data),
                    contentType:'application/json',
                    success:(data)=>{
                        console.log(data);
                    }
                })
                let comment = document.getElementById('comment')
                comment.style.visibility = "hidden"
            },
            gotoComment(){
                let comment = document.getElementById('comment')
                comment.style.visibility = "visible";
            }
        }
    })
</script>
