<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../../src/css/add-manage.css">
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.min.js"></script>
<body class="body">
    <div class="content" id="app">
        <div>
            <button class="btn-user" @click="quit">{{user}}</button>
            <button class="btn-wall" @click="gotoWall()">表白墙</button>
            <button class="btn-manage" onclick="gotoManage()">管理</button>
        </div>          
        <div class="main">
            <div style="margin-top: 100px">
                <label for="express" style="font-size:xx-large">我想对Ta说:</label>
            </div>
            <div>
                <textarea id="express" name="express" class="expressbox" v-model="confession"  > </textarea>
            </div>
            
            <div style="font-size: x-large;">
            是否匿名发布:
            <input type="radio" value="true" name="isAnonymous" v-model="isAnonymous">是
            <input type="radio" value="false" name="isAnonymous" v-model="isAnonymous">否
            </div>
            <div v-if="isAnonymous=='false'">
            <div style="font-size: larger;margin-top: 50px;" >
                <label for="user">表白人：</label>
            </div>
            <div>
                <input type="text" id="user" name="user" class="user" v-model="name">
            </div>
            </div>
            <div >
                <input style="font-size: large;" class="btn-submit" type="submit" id="submit" @click="submitConfession" value="发送表白">
            </div>
        </div>
    </div>
</body>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../../src/js/link.js"></script>
<script>
    var vm=new Vue({
        el:"#app",
        data: {
            confession:"",
            name:"",
            user:"",
            isAnonymous:""
        },
        created:function(){
                var user=window.location.href.split("=")[1];
                if (user=="undefined"){
                    alert("请先登录!");
                    window.location.href="../../login/login.html";
                }
                this.user=user;
        },
        methods:{
            submitConfession(){          //发送表白
                var data={}; 
                data.content=this.confession;
                if (this.isAnonymous=="true"){
                    data.name="anonymous";
                }
                else{
                    data.name=this.name;
                }
                data.user=window.location.href.split("=")[1];
                const url="http://localhost:8080/save"
                $.ajax({
                    url:url,
                    method:'POST',
                    data:JSON.stringify(data),
                    contentType:'application/json',
                    success:(data)=>{
                        console.log(data);
                        alert("发送表白成功");
                        this.reload();
                    }
                })
            },
            quit(){
                var isQuit=window.confirm("是否退出登录");
                if (isQuit)
                    window.location.href="../../index.html";
            },
            gotoWall(){
                window.location.href="../../wall/wall.html";
            }
        }
        })
</script>
</html>
